mixin content()
    .container.pt-4.pb-4
        .page-header
            .row.align-items-center
                .col-auto
                    .page-pretitle SEASON eForm Platform
                    h2.page-title Form Monitoring

                .col-auto.ml-auto.d-print-none
                    .d-flex
                        input.form-control(type="text" placeholder="Search.." ng-model="search.text" ng-enter="event.search()" style="max-width: 240px;")
                        a.btn.btn-light.ml-2.d-none.d-sm-inline-block(href='#' style="width: 140px;" ng-click="event.search()")
                            i.mr-2.fas.fa-search
                            | Search
                        a.btn.btn-light.pr-4.pl-4.ml-2(href='/form/admin/form/editor/new?category={$ category $}' style="width: 140px;") 
                            i.mr-2.fas.fa-plus
                            | Create

        .overflow-x
            table.table.board-table.table-hover
                thead 
                    tr
                        th.text-center.width-1 Category
                        th.text-center Title
                        th.text-center.width-2 Version
                        th.text-center Memo
                        th.text-center.width-1 Usage Count
                        th.text-center.width-2 Created
                        th.text-center.width-2

                tbody
                    tr(ng-repeat="item in list")
                        td.text-center.width-1 {{item.category}}
                        td.text-center {{item.title}}
                        td.text-center.width-2 {{item.version}}
                        td.text-center {{item.memo}}
                        td.text-center.width-1 {{item.usage_count}}
                        td.text-center.width-2 {{item.created.substring(0,10)}}
                        td.text-right.width-2
                            button.btn.btn-dark.btn-sm(ng-if="item.usage_count == 0" ng-click="event.delete(item)") Delete
            
            .pagenation.text-center(ng-if="facet.pages.length > 0")
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="event.page(1)")
                    i.fas.fa-angle-double-left
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="event.page(search.page*1-1)")
                    i.fas.fa-angle-left

                button.btn.btn-square.btn-sm(ng-repeat="page in facet.pages" ng-class="page == search.page ? 'btn-dark' : ''" ng-click="event.page(page)") {{page}}

                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="event.page(search.page*1+1)")
                    i.fas.fa-angle-right
                button.btn.btn-square.btn-sm.btn-light.pt-1.pb-1(ng-click="event.page(facet.lastpage)")
                    i.fas.fa-angle-double-right
                       
include form/theme/layout
+layout
